// ### Color pallette
$default-color-light: #5A697A;
$default-color-heavy: #FFF;
$default-background-color-light: #F3F3F4;
$default-background-color-heavy: #848F9B;

$info-color-light: #0B6CE0;
$info-color-heavy: #FFF;
$info-background-color-light: #F0F6FE;
$info-background-color-heavy: #147FFF;

$success-color-light: #42CA72;
$success-color-heavy: #FFF;
$success-background-color-light: #F3FCF8;
$success-background-color-heavy: #5BD887;

$warning-color-light: #F3B457;
$warning-color-heavy: #FFF;
$warning-background-color-light: #FFFBF5;
$warning-background-color-heavy: #FCBF65;

$danger-color-light: #E72642;
$danger-color-heavy: #FFF;
$danger-background-color-light: #FFF4F5;
$danger-background-color-heavy: #FC3D59;
// ###

:host {
  position: absolute; // a parent element (container) must have position set to either relative, absolute or fixed
  display: inline-block;
  font-family: 'Roboto';
  text-align: center;
  letter-spacing: 0;
  font-weight: 500;
  overflow: hidden;
  cursor: default;
  transition: transform .2s ease-in-out;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  transform: none;
  box-sizing: border-box;

  &.inline {
    position: relative;
  }

  &.large {
    top: -10px;
    right: -10px;
    height: 20px;
    min-width: 20px;
    padding: 0 5px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 10px;
    &.inline {
      top: -6px;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  &.medium {
    top: -8px;
    right: -8px;
    height: 16px;
    min-width: 16px;
    padding: 0 4px;
    font-size: 10px;
    line-height: 16px;
    border-radius: 8px;
    &.inline {
      top: -5px;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  &.small {
    top: -4px;
    right: -4px;
    height: 8px;
    width: 8px;
    font-size: 8px;
    line-height: 8px;
    border-radius: 50%;
    &.inline {
      top: -4px;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  &.default {
    &.small {
      color: $default-background-color-heavy !important;
      background-color: $default-background-color-heavy !important;
    }
    &.light {
      color: $default-color-light;
      background-color: $default-background-color-light;
    }
    &.heavy {
      color: $default-color-heavy;
      background-color: $default-background-color-heavy;
    }
  }
  &.info {
    &.small {
      color: $info-background-color-heavy !important;
      background-color: $info-background-color-heavy !important;
    }
    &.light {
      color: $info-color-light;
      background-color: $info-background-color-light;
    }
    &.heavy {
      color: $info-color-heavy;
      background-color: $info-background-color-heavy;
    }
  }
  &.success {
    &.small {
      color: $success-background-color-heavy !important;
      background-color: $success-background-color-heavy !important;
    }
    &.light {
      color: $success-color-light;
      background-color: $success-background-color-light;
    }
    &.heavy {
      color: $success-color-heavy;
      background-color: $success-background-color-heavy;
    }
  }
  &.warning {
    &.small {
      color: $warning-background-color-heavy !important;
      background-color: $warning-background-color-heavy !important;
    }
    &.light {
      color: $warning-color-light;
      background-color: $warning-background-color-light;
    }
    &.heavy {
      color: $warning-color-heavy;
      background-color: $warning-background-color-heavy;
    }
  }
  &.danger {
    &.small {
      color: $danger-background-color-heavy !important;
      background-color: $danger-background-color-heavy !important;
    }
    &.light {
      color: $danger-color-light;
      background-color: $danger-background-color-light;
    }
    &.heavy {
      color: $danger-color-heavy;
      background-color: $danger-background-color-heavy;
    }
  }
}
